<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.38.1" targetFramework="net46" />
  <package id="NUnit" version="3.0.1" targetFramework="net46" />
  <package id="OpenCover" version="4.6.434-rc" targetFramework="net46" />
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net46" />
  <package id="System.Numerics.Vectors" version="4.1.1-beta-23516" targetFramework="net46" />
</packages>